<div class="inner cover">
  <h1 class="cover-heading">About Me</h1>
  <p class="lead">After over twenty years in the oil and gas industries in a number of capacities mostly around training, I decided to make a career change. I have always been interested in programming. I decided it was time to take the plunge!</p>

  <p class="lead">While working in the oil and gas industry I discovered a natural talent of sorts. I am generally able to learn technical details, such as how to use a particular computer system, very quickly. This talent is what led me down the path of training users. As I am a relative newbie to web developement and the associated languages I believe I can leverage this talent to quickly learn the ways of working and languages that your company uses.</p>

  <p class="lead">I have started my journey using online web developement courses concentrating on HTML, CSS, Javescript, Node.JS, POSTgres, Ruby on Rails and PHP.</p>

  <p class="lead">I would love to be a part of your team and show you just how valuable I can be to your company!</p>
</div>
